@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif !important;
}

*:hover {
  text-decoration: none !important;
}

.nav-container{
    border-bottom: 1px solid #8e44ad ;
}

.navbar{
    background-color: #ecf0f1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar-brand{
    
    font-size: 20px;
    font-weight: 500;
    color: #8e44ad !important;
    padding-left: 30px;
    padding-right: 30px;
}



.nav-link{
    color: #8e44ad !important;
}

.join-btn{
    margin-top: 3px;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: #fff !important;
    padding: 5px 15px 5px 15px !important;
    background-color: #8e44ad;
}

.navbar-toggler-icon{
    color: #8e44ad !important;
}

.navbar-toggler{
    color: #8e44ad !important;
}

.navbar-toggler:focus{
    outline: 0;
}

h1{
    font-size: 50px;
    font-weight: 600;
    color: #333333;
}

p{
    font-size: 16px;
    color: #6E6D7A;
    font-weight: 400;
}

h2{
    font-size: 36px;
    font-weight: 600;
    color: #333333;
}


  /******************************* Footer********************************************/

  .site-footer
{
  background-color: #10002b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
}
.site-footer hr
{
  border-top-color:#e0aaff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h3
{
  color:#e0aaff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#fff;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#bdc3c7;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#e0aaff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  /* background-color:#33353d */
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.dev-name {
  display: inline-block;
  color: #fff;
  width: 60px;
}

.social-icons
{
  padding-left:0;
  /* margin-bottom:0; */
  list-style:none;
  display: inline;
  white-space: nowrap;;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  /* color:#96a2b2; */
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#bdc3c7;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.github:hover
{
  background-color:#0ead69
}

.copyright-text{
    color: #bdc3c7;
}

.text-justify{
    color: #bdc3c7;
    font-weight: 300;
}

h3{
    font-weight: 600;
}

