.hospital-name{
    width: 50%;
}

.contact-flex{
    display: flex;
}

.group-1{
    display: flex;
    /* justify-content: flex-start; */
}
.group-2{
    display: flex;
    /* justify-content: flex-end; */
}

.group-3{
    display: flex;
}

.details-gap{
    border: 1px solid  #1f385c;
}

.bg-heading{
    text-align: center;
    color: #1f385c;
}

.update-hg{
    text-align: center;
    color: #1f385c;
}

.save-btn{
    padding: 5px 25px 5px 25px;
    background-color: #1f385c;
    color: #fff;
    border-radius: 5px;
    border: none;
    float: right;
    margin-bottom: 20px;
}