.hero-wrap{
    padding-top: 150px;
    padding-bottom: 80px;
    background-color:#d1def0;
}

.hero-section-heading{
    margin-bottom: 15px;
    overflow-wrap: break-word;
}

.hero-section-text{
    max-width: 500px;
    margin-bottom: 35px;
}

.hero-section-btn{
    display: block;
    border-radius: 5px;
    /* width: 100px; */
    padding: 5px 15px;
    text-align: center;
}

.hero-section-btn:active, .hero-section-btn:active:focus, .hero-section-btn:focus{
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.btn-filled{
    background-color:  #1f385c;
    color: #fff;
    margin-right: 20px;
}

.btn-filled:hover{
    color: #fff;
    text-decoration: none;
}

.btn-hollow{
    border:  2px solid #1f385c !important;
    color: #1f385c;
    font-weight: 600;
}

.btn-hollow:hover{
    color: #1f385c;
    text-decoration: none;
}

.hero-section-img{
    width: 70%;
}







