.hero-wrap{
    padding-top: 150px;
    padding-bottom: 80px;
    background-color:#d1def0;
}

.hero-section-heading{
    margin-bottom: 15px;
    overflow-wrap: break-word;
}

.hero-section-text{
    max-width: 500px;
    margin-bottom: 35px;
}

.hero-section-btn{
    display: block;
    border-radius: 5px;
    /* width: 100px; */
    padding: 5px 15px;
    text-align: center;
}

.hero-section-btn:active, .hero-section-btn:active:focus, .hero-section-btn:focus{
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.btn-filled{
    background-color:  #1f385c;
    color: #fff;
    margin-right: 20px;
}

.btn-filled:hover{
    color: #fff;
    text-decoration: none;
}

.btn-hollow{
    border:  2px solid #1f385c !important;
    color: #1f385c;
    font-weight: 600;
}

.btn-hollow:hover{
    color: #1f385c;
    text-decoration: none;
}

.hero-section-img{
    width: 70%;
}

.hero-section-recruiter{
    width: 80%;
}

.doctor-image{
    align-items: center;
}

.filters{
    margin: 30px 0;
    display: inline-block;
}



.form-inline {
    display: inline-block;
}

.bg-filter-container {
    display: inline-block;
    padding-left: 20px;
    border-left: 2px solid rgba(100, 100, 100, 0.6);
    margin-left: 20px;
}

.hospital-list-section {
    margin: 50px 0;
}

/*****************************Cards**********************/
.hospital-card {
    margin-bottom: 40px;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
        rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
.hospital-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(3, 8, 20, 0.15) 0px 0.15rem 0.75rem,
        rgba(2, 8, 20, 0.15) 0px 0.075rem 0.25rem;
}

.card-head {
    background-color: #1f385c;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    color: #ecf0f1;
}

.card-time {
    font-size: 14px;
    color: #d6d8d8;
    margin-bottom: 5px;
}

.card-apply-btn {
    background-color: #1f385c;
    width: fit-content;
    padding: 5px 10px;
    color: #e2e3e4;
    font-weight: 500;
}

.card-foot {
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.card-tags {
    color: #555 !important;
}

.card-description {
    margin-top: 10px;
    margin-bottom: 0;
}