.page-wrap{
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #f6ebff;
}

.heading{
    margin-bottom: 40px;
    color: #1f385c;
}

.btn-login{
    padding: 5px 15px 5px 15px;
    background-color: #1f385c;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.label{
    color: #10002b;
    font-weight: 600;
}

.btn-login:focus, .btn-login:active:focus, .btn-login.active:focus{
    outline:none;
    box-shadow:none;
}