.register-img{
    width: 100%;
    margin-top: 10%;
}

.register-btn{
    padding: 5px 15px 5px 15px;
    background-color: #1f385c;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.page-wrap{
    padding-top: 5%;
    padding-bottom: 5%;
}

.heading{
    margin-bottom: 40px;
}