<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head_block %}
        
    {% endblock %}

</head>
<body>
    <!-- Add navbar here -->
  <div class="nav-container">
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">devNITH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class=" collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto ">
            
            <li class="nav-item">
              <a class="nav-link" href="/internship">Internship</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/open_source">Open Source</a>
            </li>

            <li class="nav-item ">
                {% if user.is_authenticated %}
                <a class="nav-link join-btn mx-auto" href="/logout">Log out</a>
                {% else %}
                <a class="nav-link join-btn mx-auto" href="/register">Join Us</a>
                {% endif %}
            </li>
            
          </ul>
         
        </div>
    </nav>
     
  </div>  
    {% block body_block %}
   
    {% endblock %}

    
<!--------------------------------Footer------------------------------------------------>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h3>About</h3>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse elit magna, sagittis at scelerisque ut, aliquet quis nibh.
            Duis sit amet ante rutrum, eleifend lorem molestie, auctor diam. </p>
               
        </div>

        <div class="col-md-3"></div>

        <div class="col-xs-6 col-md-3">
          <h3>Quick Links</h3>
          <ul class="footer-links">
            <li><a href="/internship">Internship</a></li>
            <li><a href="/open_source">Open Source</a></li>
            <li><a href="#">Join Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="copyright-text">Copyright &copy; Designed and Developed by Anshit and Shwetal</p>
        </div>
        
        <div class="col-6 col-md-3 text-center">
            <span class="dev-name">Anshit</span>
            <ul class="social-icons">
                <li><a class="website" target="_blank" href="https://anshit01.github.io/"><i class="fa fa-globe fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/anshit01"><i class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://github.com/Anshit01"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 text-center">
            <span class="dev-name">Shwetal</span>
            <ul class="social-icons">
                <li><a class="website" target="_blank" href="https://shwetalsoni.github.io/"><i class="fa fa-globe fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/shwetal-soni-329753199"><i class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://github.com/shwetalsoni"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
</footer>
    


    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>