{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <title>Update Data</title>
{% endblock %}

{% block body_block %}

<div class="page-wrap">
    <div class="container ">
        <h1 class="update-hg mt-3 mb-3">Update Data</h1>
        <form method="POST">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="input-group mb-3 mx-auto mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Hospital Name</span>
                        </div>
                        <input name="name" type="text" class="form-control hospital-name text-center"
                            value="{% if flag %}{{hospital.name}}{% endif %}" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="input-group mb-3 mx-auto mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Location</span>
                        </div>
                        <input name="location" type="text" class="form-control hospital-name text-center" 
                        value="{% if flag %}{{hospital.location}}{% endif %}">
                    </div>
                </div>
            </div>
                <div class="col-md-5 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Phone Number</span>
                        </div>
                        <input name="contact_no" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.contact_no}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-1"></div>

            </div>

            <div class="row">
                
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Open/Close</span>
                        </div>
                        <input name="timing" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.contact_no}}{% endif %}">
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
            
      

            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="input-group mb-3 mx-auto mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Speciality</span>
                        </div>
                        <input name="speciality" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.contact_no}}{% endif %}">
                    </div>
                </div>
            </div>

       
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                
                    <div class="input-group1 mb-3  mt-3 group-1 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Beds</span>
                        </div>
                        <input name="beds" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.beds}}{% endif %}">
                    </div>

                </div>
                
                <div class="col-md-5 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >OT</span>
                        </div>
                        <input name="ot" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.ot}}{% endif %}">
                    </div>
                </div>

                <div class="col-md-1"></div>

            </div>

            
            <hr class="details-gap">
            
       

            <h3 class="bg-heading">Available Blood Groups</h3>

            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >A+</span>
                        </div>
                        <input name="bgAp" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgAp}}{% endif %}">
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >A-</span>
                        </div>
                        <input name="bgAn" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgAn}}{% endif %}">
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >B+</span>
                        </div>
                        <input name="bgBp" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgBp}}{% endif %}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >B-</span>
                        </div>
                        <input name="bgBn" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgBn}}{% endif %}">
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >O+</span>
                        </div>
                        <input name="bgOp" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgOp}}{% endif %}">
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >O-</span>
                        </div>
                        <input name="bgOn" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgOn}}{% endif %}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >AB+</span>
                        </div>
                        <input name="bgABp" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgABp}}{% endif %}">
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >AB-</span>
                        </div>
                        <input name="bgABn" type="text" class="form-control hospital-name text-center"
                        value="{% if flag %}{{hospital.bgABn}}{% endif %}">
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <input type="submit" class="save-btn" value="Save">
                </div>
            </div>
      
                    
        </form>      
        
               
         
    </div>
</div>

   

{% endblock %}