{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <title>Update Data</title>
{% endblock %}

{% block body_block %}

<div class="page-wrap">
    <div class="container ">
        <h1 class="update-hg mt-3 mb-3">Update Data</h1>
        <form>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="input-group mb-3 mx-auto mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Hospital Name</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="input-group mb-3 mx-auto mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Location</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                
                    <div class="input-group1 mb-3  mt-3 group-1 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Email</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>

                </div>
                
                <div class="col-md-5 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Phone Number</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>

                <div class="col-md-1"></div>

            </div>

            <div class="row">
                
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Open/Close</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
            
      

            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="input-group mb-3 mx-auto mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Speciality</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
            </div>

       
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                
                    <div class="input-group1 mb-3  mt-3 group-1 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Beds</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>

                </div>
                
                <div class="col-md-5 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">OT</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>

                <div class="col-md-1"></div>

            </div>

            
            <hr class="details-gap">
            
       

            <h3 class="bg-heading">Available Blood Groups</h3>

            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">A+</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">A-</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">B+</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">B-</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">O+</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">O-</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">AB+</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="input-group2 mb-3  mt-3 group-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">AB-</span>
                        </div>
                        <input type="text" class="form-control hospital-name text-center" id="basic-url" aria-describedby="basic-addon3" >
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <input type="submit" class="save-btn" value="Save">
                </div>
            </div>
      
                    
        </form>      
        
               
         
    </div>
</div>

   

{% endblock %}