{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/hospital_detail.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>findMyHospital</title>
{% endblock %}

{% block body_block %}

    <div class="container">
        <div class="main-section">
            <h1 class="hospital-name">
                {{hospital.name}}
            </h1>
            <h3 class="hospital-location">
                {{hospital.location}}
            </h3>
            <h4 class="hospital-speciality">
                {{hospital.speciality}}
            </h4>
            <h4 class="hospital-contact">
                {{hospital.contact_no}}
            </h4>   
            <h4 class="hospital-timing">
                {{hospital.timing}}
            </h4>
            <hr class="details-gap">
            <div class="flex-bed-ot">
                <p class="hospital-beds">
                    Beds: {{hospital.beds}}
                </p>
                <p class="hospital-ot">
                    Operation Theatres: {{hospital.ot}}
                </p>
            </div>
            
            <p>
                Blood Availability:
            </p>
            <div class="row">
                <div class="col-6  col-md-4">
                    <p>A +ve: {{hospital.bgAp}} litres</p>
                    <p>B +ve: {{hospital.bgBp}} litres</p>
                    <p>AB +ve: {{hospital.bgABp}} litres</p>
                    <p>O +ve: {{hospital.bgOp}} litres</p>
                </div>
                <div class="col-6 col-md-4">
                    <p>A -ve: {{hospital.bgAn}} liters</p>
                    <p>B -ve: {{hospital.bgBn}} liters</p>
                    <p>AB -ve: {{hospital.bgABn}} liters</p>
                    <p>O -ve: {{hospital.bgOn}} liters</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}