{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/hospital_detail.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>findMyHospital</title>
{% endblock %}

{% block body_block %}

    <div class="container">
        <div class="main-section">
            <h1 class="hospital-name">
                {{hospital.name}}
            </h1>

            <div class="loc">
                <img src="{% static 'images/pin.png' %}" class="location-icon"/>
                <span class="hospital-location">
                    {{hospital.location}}
                </span>
            </div>

            <!-- <h4 class="hospital-speciality">
                {{hospital.speciality}}
            </h4> -->
            <div class="phone">
                <img src="{% static 'images/telephone.png' %}" class="location-icon"/>
                <span class="hospital-contact">
                    {{hospital.contact_no}}
                </span>  
            </div>
            <div class="time">
                <img src="{% static 'images/home.png' %}" class="location-icon"/>
                <span class="hospital-timing">
                    {{hospital.timing}}
                </span>
            </div>
            
            <hr class="details-gap">
            <div class="flex-bed-ot">
                <div class="bed">
                    <p class="hospital-beds">
                        <strong>Beds</strong> 
                    </p>
                    <span>{{hospital.beds}}</span>
                </div>
                
                <div class="ot">
                    <p class="hospital-ot">
                       <strong>Operation Theatres </strong> 
                    </p>
                    <span>{{hospital.ot}}</span>
                </div>
            </div>
            
            <p class="blood-groups">
                <strong>Blood Availability:</strong>
            </p>
            <div class="row">
                <div class="col-6  col-md-4">
                    <p>A +ve: {{hospital.bgAp}} litres</p>
                    <p>B +ve: {{hospital.bgBp}} litres</p>
                    <p>AB +ve: {{hospital.bgABp}} litres</p>
                    <p>O +ve: {{hospital.bgOp}} litres</p>
                </div>
                <div class="col-6 col-md-4">
                    <p>A -ve: {{hospital.bgAn}} liters</p>
                    <p>B -ve: {{hospital.bgBn}} liters</p>
                    <p>AB -ve: {{hospital.bgABn}} liters</p>
                    <p>O -ve: {{hospital.bgOn}} liters</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}